<h1 id='Heading'>Crib Thermostat</h1>
<h2> {% now "F jS, Y h:i a" %} </h2>

<p> Current Temperature / Humidity: {{ rt_currenttemp }} / {{ rt_humidity }}</p>

<form action="/thermostat/userinterface/" method="post">
    {% csrf_token %} 
	<p>
	{{ form.rt_destemp }} {{ form.rt_fanmode }} 
	<input type="submit" value="Apply Changes" />
	</p>
</form>
 
<a href=http://192.168.1.20:8888/thermostat/userinterface/>Refresh</a>

<p> Latest Event: {{ hs_eventdesc }} for {{ hs_eventdt|timesince:curr_time }} at {{ hs_eventdt|date:"h:i a" }}</p>
<p> Outside Temperature / Humidity: {{ fc_outsidetemp }} / {{ fc_outsidehumidity }} </p>
<p> Upcoming Forecast: {{ fc_4dforecast|linebreaks }}</p>